@model Repaso_2EV.Models.VehiculoModelo

@{
	ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>VehiculoModelo</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group
">
				<label asp-for="Matricula" class="control-label">Matricula</label>
				<input asp-for="Matricula" class="form-control" />
				<span asp-validation-for="Matricula" class="text-danger"></span>
</div>
			<div class="form-group">
				<label asp-for="Color" class="control-label">Color</label>
				<input asp-for="Color" class="form-control" />
				<span asp-validation-for="Color" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="SerieId" class="control-label">SerieId</label>
				<select asp-for="SerieId" class="form-control" asp-items="ViewBag.SerieID"></select>
			</div>
			<div class="form-group">
				<label asp-for="ExtrasSeleccionados" class="control-label"></label>
				<select multiple asp-for="ExtrasSeleccionados" class="form-control" asp-items=" ViewBag.ExtrasSeleccionados"></select>
			</div>
			<div class="form-group
">
				<input type="submit" value="Create" class="btn btn-primary" />
</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>