@page
@model FrutaPrueba.Pages.Fruterias.DetailsModel
@{
	var photo = "~/images/" + (Model.fruteria.foto ?? "noimage.jpg");
}

<div class="card m-3" align="center" style="min-width: 12rem; max-width:80%">
    <div class="card-header">
        <h3>@Model.fruteria.nombre</h3>
    </div>
    <img class="card-img-top" width="250px" asp-append-version="true" src="@photo">
    <div class="card-footer text-center">
        <h3>Id: @Model.fruteria.id</h3>
        <h3>Fruta: @Model.fruteria.fruta</h3>
        <a asp-page="/Fruteria/Index" a class="btn btn-primary m1">Exit</a>

    </div>

</div>

